MODPROBE="/sbin/modprobe"
IFCONFIG="/sbin/ifconfig"
IPTABLES="/usr/sbin/iptables"
BRCTL="/sbin/brctl"

KERNEL_MODULES="iptable_filter ipt_REJECT"

MANAGEMENT_IF="eth0"
INSIDE_IF="eth1"
OUTSIDE_IF="eth2"
BRIDGE_IF="br0"

MANAGER_IP="20.0.0.2"
MANAGEMENT_IP="20.0.0.1"
MANAGEMENT_NETMASK="255.255.255.0"